*~
*.bak
*.pdb
*.exe
*.ncb
*proj.user
*.sdf
*.suo
*.opensdf
*.db
*.opendb

ipch
dependencies
x64

TinerasNES/Debug
TinerasNES/Release
TinerasNES/GeneratedFiles
TinerasNES/Resources
TinerasNES/x64
